.about-info {
  margin-top: 216px;
  margin-bottom: 163px;
  position: relative;
}

.about-info p {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 160%;
  font-weight: 400;
  color: #ffffff;
}
