.button {
  display: inline-block;
  box-sizing: border-box;
  min-width: 100px;
  margin: 0;
  padding: 23px 31px 24px 30px;
  appearance: none;

  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 15px;
  line-height: 18px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
  border: 1px solid #ffffff;
  cursor: pointer;
}

.button:focus,
.button:hover {
  background-color: rgba(255, 255, 255, 0.1);
}

.button:active {
  background-color: rgba(255, 255, 255, 0.3);
}

.button span {
  display: flex;
  align-items: center;
}

.button span::after {
  content: "";
  width: 32px;
  height: 9px;
  background-image: url("../img/icon-arrow.svg");
  background-repeat: no-repeat;
  background-position-x: 11px;
}
