.main-footer {
  margin-top: auto;
  position: relative;
  background-color: #1d1d1d;
  // bottom: 0;
  width: 100%;
}

.main-footer__wrapper {
  display: flex;
  align-items: center;
}

.main-footer__links {
  display: flex;
  margin-left: auto;
  list-style: none;
  padding: 0;
}

// footer {
//   margin-top: auto;
//   background-color: #000000;
//   min-height: 54px;
//   display: flex;
//   align-items: center;
//   width: 100%;
// }
