.resume {
  position: relative;
  width: 78%;
  margin: auto;
  padding: 10% 25% 5% 5%;
  background-color: #ffffff;
}

.resume__form div {
  display: flex;
  flex-wrap: wrap;
}

.resume__form input {
  position: relative;
  width: 360px;
  margin-right: 20px;
  margin-bottom: 20px;
  border: none;
  border-bottom: 1px solid #383838;
  opacity: 0.2;
  background-color: transparent;
}

// .resume__form .resume__valid {
.resume__form input:valid {
  border-bottom: 1px solid #64dd17;
  opacity: 1;
}

// .resume__form input {
//   padding: .6em 2.6em .6em .3em;
//   vertical-align: middle;
// }

.resume__form input[required] + label {
  position: relative;
  display: inline-block;
  vertical-align: middle;
}

// .resume__form input[required] + label::before {
//   content: "\2709";
//   position: absolute;
//   left: -1.2em;
//   font-size: 23px;
//   color: rgb(238, 238, 238);
// }

// .resume__form input[required]:hover + label::before {
//   color: rgb(220, 200, 200);
// }
//
// .resume__form input[required]:not(:focus):not(:hover):valid {
//   opacity: 0.4;
// }
label::before {
  position: absolute;
  top: -10px;
  left: -381px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-weight: 600;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.02em;
  color: #383838;
  opacity: 0.25;
  text-transform: uppercase;
}

.resume__form input:not(:focus):valid + label:first-of-type::before {
  content: "ваше имя";
}

.resume__form input:not(:focus):valid + label:nth-of-type(2)::before {
  content: "вашe E-MAIL";
}

.resume__form input:not(:focus):valid + label:nth-of-type(3)::before {
  content: "ваш телефон";
}

// .resume__form input[required]:not(:focus):valid + label::after
.resume__form input:not(:focus):valid + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -41px;
  width: 14px;
  height: 10px;
  background-image: url("../img/icon-good.svg");
}
