.slide-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-list__item {
  position: relative;
  min-width: 100%;
  height: 100%;
  z-index: 1;
  transition: opacity 0.6s ease-in-out;
}

.slide-list__img {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.slide-list__img::before {
  content: "";
  position: absolute;
  width: 100%;
  // height: 100vh;
  top: 0;
  bottom: 0;
  background-image: linear-gradient(218.77deg, #703c26 13.28%, #424c53 85.15%);
  opacity: 0.85;
}

.slide-list__img img {
  min-width: 100%;
  min-height: calc(100vh - 54px);
  object-fit: cover;
}

.slide-list__content {
  z-index: 1;
  padding-top: 240px;
  padding-left: 80px;
  padding-bottom: 124px;
}

.slide-list__controls {
  position: relative;
  top: -50px;
  // left: 30px;
  // max-width: 1440px;
  // height: 54px;
  display: flex;
  justify-content: flex-start;
  z-index: 2;
  list-style: none;
  margin: 0 auto -30px auto;
  // margin-bottom: -30px;
  padding: 0;
  padding-left: 80px;
}

.slide-list__slide-btn {
  margin: 0;
  margin-right: 3px;
  padding: 0;
  border: none;
  background-color: transparent;
  outline: none;
  cursor: pointer;
  transition: opacity 0.6s ease-in-out;
}

.slide-list__slide-btn:hover,
.slide-list__slide-btn:focus {
  opacity: 0.3;
}


.slide-list h2 {
  width: 75%;
  margin: 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 64px;
  line-height: 125%;
  font-weight: 700;
  letter-spacing: 0.02em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.slide-list p {
  width: 40%;
  line-height: 170%;
  font-weight: 500;
  margin: 0;
  margin-top: 38px;
}

.slide-list b {
  margin-bottom: -19px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 80px;
  line-height: 100%;
  font-weight: 700;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.slide-list__details {
  display: flex;
  list-style: none;
  margin: 0;
  margin-top: 48px;
  margin-right: 30px;
  padding: 0;
}

.slide-list__details-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 13px;
}

.slide-list__details li {
  display: flex;
  flex-direction: column;
  min-width: 160px;
  margin-right: 64px;
}

.slide-list__details li p {
  width: 100%;
  margin: 0;
  margin-top: 0;
  padding-top: 9px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 20px;
  font-weight: 500;
  text-transform: uppercase;
  color: #ffffff;
  background-color: transparent;
}

.slide-list__details span {
  padding: 7px 0;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  text-transform: uppercase;
  color: #e75333;
  background-color: #ffffff;
  text-align: center;
}

.slide-list__details-button {
  margin-bottom: 27px;
}

.slide-list__services {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.slide-list__services--img {
  padding-top: 47px;
}

.slide-list__services li {
  display: flex;
  flex-direction: column;
  width: 19%;
}

.slide-list__services p::before {
  content: "";
  position: absolute;
  top: 22px;
  width: 94px;
  height: 1px;
  background-color: #ffffff;
  opacity: 0.6;
}

.slide-list__services div {
  height: 87px;
  display: flex;
  align-items: flex-end;
}

.slide-list__services p {
  align-items: flex-start;
  position: relative;
  padding-top: 47px;
  width: 87%;
  margin: 0;
  // padding-top: 9px;
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  color: #ffffff;
  background-color: transparent;
}

.slide-list__services-button {
  margin-top: 35px;
  padding: 23px 49px 23px 52px;
}

.slide-list__clients {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  margin-top: 64px;
  margin-bottom: 78px;
  padding: 0;
}

.slide-list__clients li {
  display: flex;
  align-items: center;
}

.slide-list__clients li:not(:first-child) {
  margin-left: 49px;
}

.slide-list__clients li:not(:last-child)::after {
  content: "";
  background-image: url("../img/icon-logo-arrow.svg");
  width: 25px;
  height: 86px;
}

.slide-list__clients-button {
  margin-top: 2px;
  padding: 23px 21px 23px 25px;
}

.slide-list__geography-wrapper {
  display: flex;
}

.slide-list__geography-wrapper img {
  position: absolute;
  top: 286px;
  right: 1.5%;
}

.slide-list__geography-content p {
  width: 100%;
  margin: 0;
  padding: 0;
}

.slide-list__geography-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 45%;
  min-height: 356px;
  flex-shrink: 0;
  padding-top: 37px;
}

.slide-list__geography-button {
  margin-top: auto;
  padding: 23px 41px 23px 45px;
}

.slide-list__slide-btn svg {
  fill: #ffffff;
}

.slide-list__slide-btn--active svg {
  fill: #e75333;
}

// @media (min-width: 1440px) {
//   .slide-list__controls {
//     left: 50%;
//     transform: translateX(-700px);
//   }
// }
