.main-nav__wrapper {
  display: flex;
  align-items: center;
}

.main-nav__phone {
  font-family: "Montserrat", "Arial", sans-serif;
  font-size: 14px;
  line-height: 17px;
  font-weight: 600;
  text-decoration: none;
  color: #ffffff;
}

.main-nav__logo {
  background-color: #ffffff;
}
